body
  box-sizing: border-box
  background: #FFF url("../images/wall.jpg")
  color: #000
  text-shadow: 2px 2px #FFF
  font: 1em 'Montserrat', sans-serif

.index
  cursor: url('../images/002-photo-camera.png'), auto

a
  color: #00B7FF
  cursor: url('../images/click.png'), auto
  &.back
    position: absolute
    display: block
    width: 50px
    height: 50px
    margin: 20px
    border-radius: 50%
    background: #FFF
    img
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      margin: auto
      width: 16px

img
  filter: grayscale(100%)

.placeholder
  width: 100%
  position: absolute
  clip-path: ellipse(270px 350px at 350px 400px)
  min-height: 100%

@keyframes spinning
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.loader
  position: absolute
  width: 3.125em
  display: block
  left: 0
  right: 0
  top: 40%
  margin: auto
  animation: spinning 2s infinite

.loader.hidden
  display: none

.details
  color: #FFF
  text-align: center

.text
  position: absolute
  display: block
  text-align: center
  left: 50%
  color: #fff
  transform: translateX(-50%)
  right: 0
  top: 50%
  margin: auto

p.hidden
  display: none

h1, h2
  text-align: center
  text-shadow: 2px 2px #FFF
  font-family: 'Abril Fatface', cursive

h1
  margin: 50px 0 0
  text-transform: uppercase
  color: #000
  font-size: 5em

h2
  color: #000
  margin: 0
  width: 33.3%

h1.inactive
  opacity: 0

img
  width: 100%

div
  display: flex
  position: relative
  margin: auto

main
  h2
    text-align: center
    width: 100%
  div
    display: block
    position: relative
    border: none
    width: 700px
    height: 850px
    overflow: hidden
    margin: auto
    transform: scale(0.7) translatey(-20%)

@media screen and (max-width: 800px)
  h1
    font-size: 30px
  main div
    width: 70%
    margin-top: 40px
    height: 40vh
    transform: none

  .frame
    display: none

  .placeholder
    width: 100%
    clip-path: none
    min-height: 100%



ul
  width: 33.3%
  padding: 0
  li
    list-style: none

.frame
  z-index: 1
  filter: none
  position: absolute

main > img
  width: 30%
  display: block
  margin: auto

main > ul
  margin: -240px auto 0
  li
    font-size: 25px
    text-align: center